<%- include ../layouts/header.ejs %> <%- include ../components/alerts.ejs %>

<div class="container">
  <form action="/classes/add" method="post" name="form">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input
        class="form-control"
        value="<%- name %>"
        name="name"
        type="text"
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea
        class="form-control"
        name="description"
        type="text"
        rows="3"
        required
      ></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label">Video</label>
      <input
        value="<%- video %>"
        class="form-control"
        name="video"
        type="text"
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Data Init</label>
      <input
        placeholder="dd/mm/aaaa --:--"
        value="<%- data_init %>"
        type="datetime-local"
        class="form-control"
        name="data_init"
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Data End</label>
      <input
        placeholder="dd/mm/aaaa --:--"
        value="<%- data_end %>"
        type="datetime-local"
        class="form-control"
        name="data_end"
        required
      />
    </div>
    <div class="mb-3">
      <input
        value="<%- new Date().toLocaleString() %>"
        name="date_created"
        required
        hidden
      />
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-lg btn-green mt-2">Adicionar</button>
    </div>
  </form>
</div>

<%- include ../layouts/footer.ejs %>
