<%- include ../layouts/header.ejs %> <%- include ../components/alerts.ejs %>

<div class="container">
  <div class="d-grid">
    <a href="/classes/add" class="btn btn-lg btn-green mb-4" type="button">
      Adicionar
    </a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Video</th>
        <th scope="col">Data Init</th>
        <th scope="col">Data End</th>
        <th scope="col">Date Created</th>
        <th scope="col">Date Updated</th>
        <th scope="col">Total Comments</th>
        <th scope="col" width="200">Ação</th>
      </tr>
    </thead>
    <% if (data) { %> <% data.forEach(function(classe){ %>
    <tbody>
      <tr>
        <td scope="row"><%- classe.name %></td>
        <td scope="row"><%- classe.description %></td>
        <td scope="row">
          <a href="<%- classe.video %>" target="_blank">Link</a>
        </td>
        <td scope="row"><%- classe.data_init %></td>
        <td scope="row"><%- classe.data_end %></td>
        <td scope="row"><%- classe.date_created %></td>
        <td scope="row"><%- classe.date_updated %></td>
        <td scope="row"><%- classe.total_comments %></td>
        <td scope="row">
          <div class="float-start">
            <a
              href="/classes/edit/<%- classe._id %>"
              type="button"
              class="btn btn-green"
              >Editar
            </a>
            &nbsp;
            <form
              method="post"
              action="/classes/delete/<%- classe._id %>"
              style="float: right"
            >
              <input
                type="submit"
                name="delete"
                class="btn btn-green"
                value="Deletar"
              />
              <input type="hidden" name="_method" value="DELETE" />
            </form>
          </div>
        </td>
      </tr>
    </tbody>
    <% }) %> <% } %>
  </table>
</div>

<%- include ../layouts/footer.ejs %>
