<%- include ../layouts/header.ejs %> <%- include ../components/alerts.ejs %>

<div class="container">
  <div class="d-grid">
    <a href="/comments/add" class="btn btn-lg btn-green mb-4" type="button">
      Adicionar
    </a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID Class</th>
        <th scope="col">Comment</th>
        <th scope="col">Date Created</th>
        <th scope="col" width="100">Ação</th>
      </tr>
    </thead>
    <% if (data) { %> <% data.forEach(function(comment){ %>
    <tbody>
      <tr>
        <td scope="row"><%- comment.id_class %></td>
        <td scope="row"><%- comment.comment %></td>
        <td scope="row"><%- comment.date_created %></td>
        <td scope="row">
          <div class="float-start">
            &nbsp;
            <form
              method="post"
              action="/comments/delete/<%- comment._id %>"
              style="float: right"
            >
              <input
                type="submit"
                name="delete"
                class="btn btn-green"
                value="Deletar"
              />
              <input type="hidden" name="_method" value="DELETE" />
            </form>
          </div>
        </td>
      </tr>
    </tbody>
    <% }) %> <% } %>
  </table>
</div>

<%- include ../layouts/footer.ejs %>
