<%- include ../layouts/header.ejs %> <%- include ../components/alerts.ejs %>

<div class="container">
  <form action="/users/edit/<%- id %>" method="post" name="form">
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input
        value="<%- name %>"
        name="name"
        type="text"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input
        value="<%- email %>"
        name="email"
        type="email"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input
        value="<%- password %>"
        name="password"
        type="password"
        class="form-control"
        required
      />
    </div>
    <input type="hidden" name="_method" value="PUT" />
    <div class="d-grid">
      <button type="submit" name="Submit" class="btn btn-lg btn-green mt-2">
        Editar
      </button>
    </div>
  </form>
</div>

<%- include ../layouts/footer.ejs %>
