<%- include ../layouts/header.ejs %>

<div class="container">
  <% if (messages.error) { %>
  <div class="alert alert-danger" role="alert"><%- messages.error %></div>
  <% } %> <% if (messages.success) { %>
  <div class="alert alert-success" role="alert"><%- messages.success %></div>
  <% } %>

  <div class="d-grid">
    <a href="/users/add" class="btn btn-lg btn-green mb-4" type="button">
      Adicionar
    </a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <% if (data) { %> <% data.forEach(function(user){ %>
    <tbody>
      <tr>
        <td scope="row"><%= user.name %></td>
        <td scope="row"><%= user.email %></td>
        <td scope="row">
          <div class="float-start">
            <a
              href="/users/edit/<%= user._id %>"
              type="button"
              class="btn btn-green"
              >Editar
            </a>
            &nbsp;
            <form
              method="post"
              action="/users/delete/<%= user._id %>"
              style="float: right"
            >
              <input
                type="submit"
                name="delete"
                class="btn btn-green"
                value="Deletar"
              />
              <input type="hidden" name="_method" value="DELETE" />
            </form>
          </div>
        </td>
      </tr>
    </tbody>
    <% }) %> <% } %>
  </table>
</div>

<%- include ../layouts/footer.ejs %>
